/* Para que el contenido de la navegación se alinee a la derecha */
nav {
  padding: 0 25px; /* Espaciado lateral para evitar que los elementos estén muy pegados */
}

nav ul {
  list-style-type: none; /* Elimina las viñetas */
  padding: 0;
  margin: 0;
  display: flex; /* Flexbox para alinear los elementos */
  justify-content: flex-end; /* Mueve los elementos a la derecha */
}

nav ul li {
  margin-left: 15px; /* Espaciado entre los elementos de la lista */
  font-family: Arial, sans-serif;
  
}
a{color: #ffffff;}

body {
  margin: 0;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  color: #ffffff;
  background-color: #232222;
}

header {
  background-color: #020c64;
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  
}

#presentacion {
  padding: 100px;
  text-align: left;
  font-size: 28px;
  
}
.imagenes {
  display: flex;                  /* Usa flexbox para organizar las imágenes en fila */
  justify-content: space-around;  /* Espacia las imágenes uniformemente */
  
  padding: 20px;
}

.imagenes img {
  width: 30%;                    /* Ajusta el ancho de cada imagen (puedes cambiarlo según lo necesites) */
  height: auto;                  /* Mantiene la proporción de la imagen */
  border-radius: 10px;           /* (Opcional) Redondea los bordes de las imágenes */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* (Opcional) Añade una sombra a las imágenes */
}


/* Configura la animación */
@keyframes fadeIn {
  from {
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(40px); /* Mueve el elemento 20px hacia abajo */
  }
  to {
    opacity: 1; /* Completamente visible */
    transform: translateY(0); /* Vuelve a su posición original */
  }
}

/* Aplica la animación al cargar la página */
.fade-in {
  opacity: 0; /* Inicialmente oculto */
  animation: fadeIn 1s ease-out forwards; /* Aplica la animación de desvanecimiento */
}
